html{
    font-size: 62.5%; /*this makes all relative units equal 10px, REM-relative unit, 1 rem=10px*/
}

*, *::after, *::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;      
}

.banner{
    text-align:center;
    margin: 2rem auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #418c99;
    color:pink;
    height:60 vh;
    /*viewport height*/
    text-transform:uppercase;
    letter-spacing:1rem;
    font-size:4rem;
}

.user-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#movies-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 60vh;
    font-size: 2.2rem;
}


.text-box{
    height:2.5rem;
    width: 20rem;

}
.movie-form-input{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin:1rem;
    height: 10vh;

}

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4.0rem;
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1.0rem 2rem rgba(0,0,0.2);  
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0.2);
}
 
.btn-red{
    background-color: #5563df;
    color:red;
}

.display{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height: 10rem;
    font-size:2.2rem;
    width: 80vw;
    margin: 1rem auto;
}

.display-movie{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height: 10rem;
    font-size: 2.2rem;
    width: 80vw;
}

.display-image img{
    height: 9rem;
}

.remove-movie {
    color: blue;
}

